<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">

</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">function view</h2>
    {% block content %}{% endblock content %}
</div>



<link rel="stylesheet" href="{% static 'enroll/js/bootstrap.js' %}">
    <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='c406a5b670d2c7d92c6dccf9e057eded1d17a31fda52d73b9d572bbce5d2e227';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
</body>
</html>
